<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @registration.job %>
</p>

<p>
  <strong>Student:</strong>
  <%= @registration.student %>
</p>

<p>
  <strong>Time:</strong>
  <%= @registration.time %>
</p>

<p>
  <strong>Active:</strong>
  <%= @registration.active %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
