<br>
<br>
<h2> <%= I18n.t('moj_profil') %> </h2>
<div class="container" style="position:relative; top:50px; width:400px;">
        
    <form class="form-register" ng-submit="save()">
            
        <p> <%= I18n.t('student_name') %> </p>
        <label for="inputName" class="sr-only">Ime</label>
        <input type="text" ng-model="data.name" id="inputName" class="form-control" placeholder="" required autofocus><br>

        <p> <%= I18n.t('student_surname') %> </p>
        <label for="inputSurname" class="sr-only"><%= I18n.t('student_surname') %></label>
        <input type="text" ng-model="data.surname" id="inputSurname" class="form-control" placeholder="" required autofocus><br>

        <p> <%= I18n.t('student_location') %> </p>
        <label for="inputLocation" class="sr-only"><%= I18n.t('student_telephone') %></label>
        <input type="text" ng-model="data.location" id="inputLocation" class="form-control" placeholder="" required autofocus><br>

        <p> <%= I18n.t('student_university') %> </p>
        <label for="inputUniversity" class="sr-only"><%= I18n.t('student_university') %></label>
        <input type="text" ng-model="data.university" id="inputUniversity" class="form-control" placeholder="" required autofocus><br>


        <p> <%= I18n.t('student_faculty') %> </p>
        <label for="inputFaculty" class="sr-only"><%= I18n.t('student_faculty') %></label>
        <input type="text" ng-model="data.faculty" id="inputFaculty" class="form-control" placeholder="" required autofocus><br>
        
         <p> <%= I18n.t('student_cv') %> </p>
        <input type="file" onchange="angular.element(this).scope().filesChanged(this)" />

        <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.t('save_student_button') %></button>
        <br>

        <div ng-show="register.isError()" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Greška:</span>
  {{register.errorMsg}}
</div>

        <div ng-show="register.isSuccess()" class="alert alert-success" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  {{register.successMsg}}
</div>

    </form>
    <br><br><br><br>
</div>