<br><br><br><br>
<h3 align="center"> <%= I18n.t('change_p')%> </h3>
<div class="container" style="position:relative; top:50px; width:400px;">
  <form class="form-passwordC" ng-controller="passwordController as passwordC" ng-submit="passwordC.promjeni()">

  	<input type="hidden" ng-model="passwordC.podaci.email" id="email" class="form-control" placeholder="" required autofocus><br>

    <p> <%= I18n.t('old_password')%> </p>
    <label for="inputPassword1" class="sr-only">Stari password</label>
    <input type="password" ng-model="passwordC.podaci.stari_password" id="inputPassword1" class="form-control" placeholder="" required autofocus><br>

    <p> <%= I18n.t('new_password')%> </p>
    <label for="inputPassword2" class="sr-only">Novi password</label>
    <input type="password" ng-model="passwordC.podaci.novi_password" id="inputPassword2" class="form-control" placeholder="" required autofocus><br>

    <p> <%= I18n.t('confirmation_new')%> </p>
    <label for="inputPassword3" class="sr-only">Potvrda passworda</label>
    <input type="password" ng-model="passwordC.podaci.password_confirmation" id="inputPassword3" class="form-control" placeholder="" required autofocus><br><br>

    <button class="btn btn-lg btn-primary btn-block" type="submit"><%= I18n.t('change_password_button')%></button>

    <div ng-show="passwordC.isError()" class="alert alert-danger" role="alert">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Greška:</span>
	  {{passwordC.errorMsg}}
	</div>

	        <div ng-show="passwordC.isSuccess()" class="alert alert-success" role="alert">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  {{passwordC.successMsg}}
	</div>

  </form>

</div>